.m-post-order{
    padding: 30px;

    .title {
        text-align: center;
        line-height: 160px;
        height: 160px;
    }

    .at-input {
        margin-bottom: 16px;
    }

    .at-button {
        margin-top: 30px;
    }
}