// 主色
$primary: #E6231F; //主色
$dark: #253044; //字体颜色

// 辅助色
$success: #2DCC70;
$warning: #F5A623;
$danger: #E6231F;
$link: #1782E6;

// 扩展色
$white: #FFF; // 白色
$background: #F0F2F5; // 背景色
$disable: #E0E1E4; // 失效，禁用
$list-hover-color: #F8F8F8; // 列表hover色
$border-color: #E8E8E8; //列表分割线
$btn-border-color: #DDE0E5; // 按钮边框

// 字体颜色
$dark-font: rgba(37, 48, 68, .85); // 次要字体
$grey-font: rgba(37, 48, 68, .65); //
$light-font: rgba(37, 48, 68, .45); // 未选中
$disable-font: rgba(37, 48, 68, .3); // 禁用




html {
    font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

html,
body,
div,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
button,
fieldset,
form,
input,
legend,
textarea,
th,
td {
    padding: 0;
    margin: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

#app {
    height: 100%;
    min-height: 100%;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}


// 常用的less语句块
.f-toe {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
}

.f-cp {
    cursor: pointer;
}

.f-tac {
    text-align: center;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.f-fwb {
    font-weight: 700;
}

.f-tar {
    text-align: right;
}

.center {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.radio {
    transform: scale(.7);
}
// 常用字体颜色
.f-success {
    color: $success;
}

.f-warning {
    color: $warning;
}

.f-danger {
    color: $danger;
}

.f-link {
    color: $link;
}

.f-disbled {
    color: $disable-font;
}
