
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";

.m-index {
    .content {
        padding: 30px 0;

        .at-col-6 {
            margin-bottom: 16px;
        }

        .order-detail {
            
            .order-style {
                padding: 60px 30px;
            }

            .make-order {

                margin-bottom: 30px;
            }

            .taro-text {
                display: inline-block;
            }
        }
    }
}
