
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";

.m-index {
    .content {
        padding: 30px 0;
        margin-bottom: 2rem;

        .at-col-6 {
            margin-bottom: 1rem;
        }

        .order-detail {
            
            .order-style {
                padding: 20px 30px;
            }

            .make-order {

                margin-bottom: 30px;
            }

            .taro-text {
                display: inline-block;
            }

            .money {
                font-size: 1rem;
                color: #f00;
                text-align: center;
                font-style: italic
            }
        }
    }
}
