.m-add-food{
    .title {
        text-align: center;
        line-height: 160px;
        height: 160px;
        color: #333;
    }

    .at-form {
        padding: 40px 20px 80px;
        border-radius: 20px;
    }

    .at-input {
        margin-bottom: 16px;
    }

    .at-button {
        margin-top: 30px;
    }
}