.m-my-order {
    padding: 0;
    
    .at-nav-bar {
        margin-bottom: 30px;
    }

    .content {
        padding: 30px;
        margin-bottom: 2rem;

        .count {
            padding: 40px 0;
            box-sizing: border-box;
        }
    
        .telNumber {
            display: inline-block;
            font-size: 1rem;
            min-width: 100px;
        }
    
        .edit {
            font-size: .6rem;
            margin-left: 12px;
            color: blue;
        }

        .order-title {
            font-size: .6rem;
            height: 64px;
            line-height: 64px;
            color: #999;
        }

        .at-card {margin: 0 0 24px 0;}


        .room,.tel,.desc {
            height: 60px;
            line-height: 60px;
            color: #ccc;
    
            span {
                color: #78A4F4;
                font-weight: 700;
            }
        }
        
    }

    
}