.m-my-order {
    padding: 0;
    
    .at-nav-bar {
        margin-bottom: 30px;
    }

    .count {
        padding: 40px 30px;
        box-sizing: border-box;
    }

    .tel {
        display: inline-block;
        font-size: 22px;
        min-width: 100px;
    }

    .edit {
        font-size: 20px;
        margin-left: 12px;
        color: blue;
    }
}